<div class="ficha-tecnica-container">
    <div class="display-flex">
        <div class="processador-container">
            <h3>Processador</h3>
            <a [routerLink]="['ConteudoComponent', Id]">{{descricao_processador}}</a>
        </div>
        <div class="assistencia-tecnica-container">
            <h3>Assistência técnica</h3>
            <p>{{descricao_assistencia_tecnica}}</p>
        </div>
        <div class="sistema-operacional">
            <h3>Sistema Operacional</h3>
            <p>(A Dell Technologies recomenda o Windows 11 Pro para empresas)Ubuntu Linux</p>
        </div>
    </div>
    <div class="display-flex">
        <div class="placa-video">
            <h3>Placa de vídeo</h3>
            <p>AMD Radeon™ Graphics com memória gráfica compartilhada</p>
        </div>
        <div class="tela">
            <h3>Tela</h3>
            <p>Full HD de 15.6" (1920 x 1080), 120 Hz, WVA</p>
        </div>
        <div class="memoria">
            <h3>Memória</h3>
            <p>8GB LPDDR5 (1x8GB) 5500 MT/s, Integrada</p>
        </div>
    </div>
</div>